* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  margin: 20px auto;
  text-align: center;
}
header .level-name {
  margin-bottom: 10px;
}
header i.active {
  color: red;
}
header i {
  color: #777;
  font-size: 40px;
}

.row-game {
  display: flex;
  justify-content: center;
}
.contianer-game {
  position: relative;
}
.contianer-game .colums {
  display: flex;
  height: fit-content;
  width: 408px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 2px;
  position: relative;
  left: 2%;
}
.contianer-game .colums.colums-plus {
  width: 608px;
  left: 6%;
}

.contianer-game .rows.rows-plus {
  height: 608px;
}
.contianer-game .rows {
  width: fit-content;
  height: 408px;
  margin: 20px 20px 0 -40px;
}
.contianer-game .rows > div,
.contianer-game .colums > div {
  background-color: #eee;

  border-radius: 10px;
}
.contianer-game .colums > div {
  margin-right: 1px;
}
.contianer-game .rows > div {
  margin-bottom: 1px;
}
.contianer-game .rows > div span,
.contianer-game .colums > div span {
  display: inline-block;
  user-select: none;
  padding: 0 2px;
  font-size: 20px;
  border: 1px solid #777;
  border-radius: 6px;
  text-align: center;
  color: #fff;
}
.contianer-game .rows > div span {
  line-height: 80px;
}
.contianer-game .colums > div span {
  width: 80px;
}

.contianer-game .colums.colums-plus > div span {
  width: 60px;
  margin: 1px 0;
}

.contianer-game .rows.rows-plus > div span {
  line-height: 58px;
  margin: 0 1px;
}
.boxs-game {
  display: flex;
  width: 408px;
  height: 408px;
  flex-wrap: wrap;
  border: 4px solid #333;
  margin: 20px 0 0;
}
.boxs-game.game-plus {
  width: 608px;
  height: 608px;
}

.boxs-game.block {
  pointer-events: none;
}
.boxs-game > div {
  width: 80px;
  height: 80px;
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  position: relative;
}
.boxs-game > div.plus {
  width: 60px;
  height: 60px;
}
.boxs-game > div.plus.colum-6 {
  border-left: 2px solid black;
}
.boxs-game > div.plus.row-5 {
  border-bottom: 2px solid black;
}
.boxs-game > div.transparent {
  pointer-events: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #777;
    border-radius: 6px;
    left: 50%;
    animation: trans-opcity 0.3s linear;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}
@keyframes trans-opcity {
  from {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(45deg);
  }
}
.boxs-game > div.wrong {
  pointer-events: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: red;
    border-radius: 6px;
    left: 50%;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  &::after {
    transform: rotate(-45deg);
    animation-name: wrong-after;
  }
  &::before {
    transform: rotate(45deg);
    animation-name: wrong-before;
  }
}
@keyframes wrong-before {
  0% {
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) scale(1);
    opacity: 0;
  }
}
@keyframes wrong-after {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  }
}
.chose-color {
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.chose-color span {
  width: 25px;
  display: inline-block;
  height: 25px;
  border-radius: 50%;
  margin: 10px;
  position: relative;
}
.chose-color span.transparent,
.chose-color span.active.transparent {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 80%;
    background-color: #777;
    border-radius: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.chose-color span.active.transparent {
  transform: scale(1.5);
  transition: 0.3s;
  border: 1px solid #777;
}
.chose-color span.active {
  transform: scale(1.5);
  transition: 0.3s;
  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #f6f6f6;
    inset: 50% 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
  }
}

@media (max-width: 767px) {
  .boxs-game > div {
    width: 45px;
    height: 45px;
  }
  .boxs-game {
    width: 233px;
    height: 233px;
  }
  .contianer-game .rows > div span,
  .contianer-game .colums > div span {
    font-size: 10px;
  }
  .contianer-game .rows > div span {
    line-height: 45px;
  }
  .contianer-game .colums > div span {
    width: 45px;
  }
  .contianer-game .colums {
    width: 233px;
    left: 16%;
  }
  .contianer-game .rows {
    height: 233px;
    margin: 20px 15px 0 -40px;
  }

  header {
    margin: 20px auto;
  }
  header .level-name {
    margin-bottom: 15px;
    font-size: 20px;
  }
  header i {
    font-size: 25px;
  }
  .row-game {
    justify-content: flex-end;
    padding-right: 5px;
  }
}

.control-massage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eb5959ad;
  width: 100%;
  height: 100%;
  animation: massage-opcity 0.3s linear;
}
@keyframes massage-opcity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.massage {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  width: 200px;
  animation: massage-scale 0.5s linear;
}
@keyframes massage-scale {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
.massage h2 {
  margin-bottom: 100px;
  font-size: 28px;
}
.massage a {
  font-size: 18px;
  cursor: pointer;
}
.massage a:hover {
  color: #358cff;
}

@media (max-width: 767px) {
  .boxs-game > div.plus {
    width: 25px;
    height: 25px;
  }
  .boxs-game.game-plus {
    width: 258px;
    height: 258px;
    margin: 5px 6px 0;
  }
  .contianer-game .colums.colums-plus {
    width: 258px;
    left: 10%;
  }
  .contianer-game .colums.colums-plus > div span {
    width: 25px;
    margin: 0 0 -2px;
    height: 15px;
  }
  .contianer-game .rows.rows-plus {
    height: 258px;
    margin: 5px 0 0 -40px;
  }
  .contianer-game .rows.rows-plus > div span {
    line-height: 23px;
    margin: 0 0.5px 0;
  }
  .contianer-game .colums.colums-plus > div span,
  .contianer-game .rows.rows-plus > div span {
    font-size: 9px;
  }
}
